@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background-color: hsl(240, 78%, 98%);
    background-image: url('../images/bg-bottom.svg'),url('../images/bg-top.svg');
    background-position: bottom left,top right;
    background-repeat: no-repeat,no-repeat;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    color:hsl(232, 13%, 33%);
}

a{
    text-decoration: none;
    color:hsl(240, 78%, 98%) ;
    font-size: 15px;
}

.Heading{
    font-size: 20px;
    margin-top:50px;
    display:flex;
    justify-content:center;
}

.toggle-button{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    color:hsl(233, 13%, 49%);
    align-items: center;
}
ul{
    list-style-type: none;
    line-height: 3.3em;
}
li{
    line-height: 0.1 em;
    border-bottom: hsl(234, 14%, 74%) solid 1px;
}

.plan li{
    border-bottom: none;
}



.boxes{
    display:flex;
    justify-content: center;
}



.box1,.box2,.box3{
    display:flex;
    width:350px;
    height:425px;
    background-color:white;
    border-radius:10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.learnMore{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-transform: uppercase;
    background-color: hsl(237, 63%, 64%);
    color:hsl(240, 78%, 98%);

    margin-left: -40px;
    margin-right: -20px;
    /* border:hsl(232, 13%, 33%) solid 2px; */
    border-radius: 10px;
}

.learnMore li{
    border-bottom: none;
}

/* .annually{
    display:none;
}

.toggled .boxes .monthly{
    display:block;
}
.toggled .boxes .display {
    display:none;
} */

/* .monthly{
    display: none; */
/* } */ 

.boxes .annually{
    display: none;
}

.toggled .annually {
    display: block;
}

.toggled .monthly{
    display: none;
}



.price{
    font-size:50px;
    padding-top:20px;
    padding-bottom:20px;
}

/* dollar sign should be in center */
.price .dollar{
    font-size: 30px;
    vertical-align: middle;
}

.box1:hover,.box2:hover,.box3:hover{
    display:flex;
    width:350px;
    height:465px;
    margin-top: -20px;
    margin-bottom: 20px;
    /* margin-bottom: 20px; */
    background-color:hsl(237, 63%, 64%);
    border-radius: 10px;
    justify-content: center;
    color:white;
}
.box1:hover .learnMore ,.box2:hover .learnMore,.box3:hover .learnMore{
    background-color:hsl(240, 78%, 98%);
    border:white solid 1px;

}
.box1:hover .learnMore a,.box2:hover .learnMore a,.box3:hover .learnMore a {
    color:hsl(237, 63%, 64%)
}



/* tooggle button switches */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: hsl(237, 63%, 64%);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
 /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
   
.slider.round:before {
    border-radius: 50%;
}

@media(max-width: 768px){

.boxes{
    flex-direction: column;
    justify-content: center;
}

}




