@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-image: url(../images/bg-bottom.svg) url(../images/bg-top.svg);
    background-position: bottom right , top left;
    background-repeat: no-repeat no-repeat;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
    line-height:2em;
    text-align: center;
}

.Heading{
    display:flex;
    justify-content: center;
}

.toggle-button{
    display: flex;
    justify-content: center;
}



.boxes{
    display:flex;
    justify-content:center;
}



.box1,.box2,.box3{
    display: flex;
    width:350px;
    height:450px;
    background-color:blue;
    justify-content: center;
}

.box1:hover,.box2:hover,.box3:hover{
    display: flex;
    width:350px;
    height:470px;
    margin-top: -20px;
    background-color: hsl(236, 72%, 79%);
    justify-content: center;
}


/* changing the dollar sign */

.price{
    font-size: 35px;
}


.price .dollar{
    font-size:25px;
}